*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Raleway", sans-serif;
      font-weight: 500;
     font-size: x-large;
}

body{
    background-image: url(images/Grunge\ Rarity.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.navbar{
    /* border: 2px solid red; */
      padding: 1.5%;
      background-color: rgb(57, 31, 104);

}

ul{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

a{
    text-decoration: none;
     color:white;
}

video{
    width: 80%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
}

.wrapper{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap:5rem;
}

.intro{
    flex: 1;
}

.intro h1, p{
    color: white;
    font-size: xx-large;
    box-shadow: 10px 20px 80px rgb(194, 16, 155);
}

.about::first-letter{
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(194, 16, 155);
}

@media screen and (min-width: 370px){
    body{
    background-image: url(images/Grunge\ Rarity.jpg);
    background-repeat:repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

}

@media screen and(max-width: 660px){
    ul{
       display:grid;
    }
    
}